* {
    box-sizing: border-box;
}

/* body {
    background: #282D35;
} */

#opacity {
    /* height: 100vh; */
    background-image: url('/neural_network.bin');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
    z-index: -1;
}