.bold {
    font-weight: bold;
}

.gray {
    color: #aeadb3;
}

.orange {
    color: #db8534;
}

.home--header {
    background-color: white;
    padding: 0 0 0 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;    
    transition: all 0.3s;
}

.header-title {
    display: flex;
}

.header-title > * {
    display: inline-block;
}

.header--logo {
    height: 30px;
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
    /* filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.3)); */
}

.home--header--item {
    text-decoration: none;
    color: inherit;
    padding: 25px 0;
    display: inline-block;
    text-align: center;
    width: 100px;
    transition: background 0.3s;
}

.home--header--item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.home--darkmode{
    margin: 0 20px;
    display: inline-block;
}

.change--colorbutton{
    cursor: pointer;
    border-style: none;
    background: transparent;
}

.change--colormode{
    background-image: url(/bar--dark.png);
    background-repeat: no-repeat;
    display: flex;
    width: 25px;
}

.change--colormode img {
    margin-right: auto;
    width: auto;
}

/* Dropdown */
.dropdown {
    display: inline;
    color: inherit;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 24px 0;
    background-color: inherit;
    width: 100px;
    font-family: inherit;
    color: inherit;
    margin: 0;
    transition: background 0.3s;
}
  
.dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0.2);
}
  
.dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* Main ------------------------------------------------- */
.home--main {
    padding: 80px 40px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    gap: 40px;
}

.home--section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.main--text h1 {
    font-size: 40px;
    font-weight: bold;
}

.main--text h3 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 10px;
    color: #db8534;
}

.main--text p {
    margin-top: 15px;
    border-left: 5px solid #db8534;
    padding-left: 15px;
    padding-right: 50px;
    max-width: 300px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    /* text-align: justify; */
}

.main--photo {
    width: 300px;
    height: 238px;
    border-radius: 15px 50px 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.home--article {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home--article h1 {
    color: #6a6a6d;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 5px solid #db8534;
}

.home--article .about--title {
    margin-bottom: 40px;
}

.home--carousel--card {
    display: flex;
}

.home--carousel--card p {
    margin-left: 380px;
    /* padding-left: 240px; */

    border-left: 5px solid #db8534;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.home--carousel {
    display: flex;
    align-items: center;
}

.carousel--item {
    position: absolute;
    border-radius: 15px 50px 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* .proyect--card {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 20px;
} */

.proyect--card--container{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 40px;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 60px; */
}
.proyect--card--title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
}

.proyect--card h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.proyect--card h3 {
    margin: 0;
    margin-top: 20px;
    font-size: 23px;
    font-weight: 500;
    color: #db8534;
}

.proyect--card p {
    margin-top: 15px;
    border-left: 5px solid #db8534;
    padding-left: 15px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    /* text-align: justify; */
}

.proyect--card--img {
    min-width: 300px;
    min-height: 300px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.proyect--card--icons--container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.proyect--card--icons--container img {
    object-fit: cover;
}

.proyect--card--icons {
    font-size: 36px;
}

.link {
    cursor: pointer;
    color: #4A4E74;
}

.python {
    color: rgb(42, 133, 156);
}

.raspberry {
    color: red;
}

.react {
    color: #61dbfb;
}

/* Footer ----------------------------------------------- */
.home--footer {
    display: flex;
    position: fixed;
    bottom: 0;
    /* background-color: #aeadb3; */
    background: linear-gradient(#FFFFFF, #D5D4D8);
    padding: 40px 60px;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 -10px 50px 40px #FFFFFF;
    gap: 30px;
}

.footer--icons {
    font-size: 30px;
    transition: all 0.3s;
}

.footer--icons:hover {
    color: #db8534;
    transform: scale(1.1);
}

.footer--social {
    color: inherit;
}

.footer--autor {
    margin-left: auto;
    font-size: 14px;
}

@media only screen and (max-width: 530px) {
    .home--header {
        padding: 20px 0;
        justify-content: center;
    }
    .header-title {
        gap: 20px;
    }
    .home--header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .home--darkmode {
        display: flex;
        align-items: center;
    }
    .home--main {
        padding-left: 0;
        padding-right: 0;
    }
    .main--text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .home--section {
        align-items: center;
        justify-content: center;
    }
    .home--article {
        width: 100vw;
    }
    .home--carousel {
        position: relative;
        height: 270px;
    }
    .carousel--item {
        height: 270px;
    }
    .home--carousel--card p {
        margin: 0;
        padding: 0;
        margin-top: 290px;
        max-width: 100%;
        border-left: none;
    }
    .proyect--card--container {
        flex-wrap: wrap;
    }
    .home--footer{
        gap: 10px;
    }
    .footer--icons {
        font-size: 24px;
    }
    .footer--autor {
        font-size: 12.24px;
    }
}