.send--number--form {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.send--number--form input {
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
    font-size: 30px;
    width: 200px;
}

.send--number--form button {
    cursor: pointer;
    border-style: none;
    background-color: rgb(161, 18, 18, 0.7);
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    color: #FFE5CC;
    transition: all 0.3s;
}

.send--number--form button:hover {
    background-color: rgb(161, 18, 18);
    transform: scale(1.2);
}